/***********************************************************/
/*  General  */
/***********************************************************/
* {
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

html,
body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    height: auto;
    width: 100%;
    background: #f5f5f5;
}

html {
    overflow-y: scroll;
}

button:focus {
    outline: none;
}

a {
    text-decoration: none;
}

#loading {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 300px;
    width: 100%;
    line-height: 300px;
    font-size: 20px;
    color: #ccc;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
}

.shadow {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.roundCorner {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

.round {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.disable {
    pointer-events: none;
    color: #9e9e9e;
}
/***********************************************************/





/***********************************************************/
/*  Login   */
/***********************************************************/
#loginBtn {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    position: relative;
    display: block;
    width: 240px;
    height: 60px;
    background: none;
    border: none;
    border: 2px solid #212121;
    font-size: 18px;
    color: #212121;
    margin: 250px auto 0 auto;
    cursor: pointer;
}

#loginBtn:hover {
    border: 2px solid #f50057;
    color: #f50057;
    -webkit-box-shadow: 0 0 200px 0 #f50057;
    -moz-box-shadow: 0 0 200px 0 #f50057;
    -ms-box-shadow: 0 0 200px 0 #f50057;
    box-shadow: 0 0 200px 0 #f50057;
}

#rememberme {
    position: relative;
    margin: 25px auto 0 auto;
    display: block;
    width: 120px;
    height: 16px;
}

#rememberme > p {
    font-family: "Lato", sans-serif;
    line-height: 16px;
    font-size: 15px;
    color: #262626;
    float: right;
}

#rmbmCheckBox {
    width: 16px;
    height: 16px;
    float: left;
}
/***********************************************************/





/***********************************************************/
/*  NavBar  */
/***********************************************************/
#navBar {
    position: fixed;
    top: 0;
    z-index: 5;
    background: #fff;
    width: 100%;
    height: 60px;
}

#logo {
    margin-left: -30px;
    position: absolute;
    left: 50%;
    display: block;
    width: 60px;
    height: 60px;
    background-image: url('../image/logo.png');
}

#navBar ul {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 60px;
    margin: 0 auto 0 auto;
}

#navBar ul > #navHighlight {
    position: absolute;
    top: 56px;
    display: block;
    z-index: 1;
    width: 25%;
    height: 4px;
    background-color: #f50057;
}

#navBar li {
    float: left;
    list-style: none;
    width: 25%;
    height: 100%;
}

#navBar li > a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: block;
    width: 100%;
    height: 100%;
    color: #212121;
    line-height: 60px;
    text-transform: uppercase;
    text-align: center;
    text-overflow: ellipsis;
}

#navBar li > a:hover {
    color: #f50057;
}

#navHome {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-image: url('../image/logo.png');
}

#navHome:hover {
    background-image: url('../image/logoR.png');
}

#searchBar {
    display: block;
    float: left;
    height: 30px;
    width: 50%;
    margin-top: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
    box-shadow: none;
    border: 1px solid #333;
    background: #191919;
    padding-left: 20px;
    font-size: 16px;
    color: #ccc;
}

#searchBar:focus {
    outline: none;
    background: #3f3f3f;
    border: 1px solid #191919;
}

#messageBar {
    position: absolute;
    top: 60px;
    width: 100%;
}
/***********************************************************/





/***********************************************************/
/*  ImageCard   */
/***********************************************************/
#container {
    position: relative;
    margin: 60px auto 0 auto;
    overflow: auto;
    padding-bottom: 60px;
}

#userInfo {
    width: 100%;
    height: 240px;
}

#userInfo > img {
    display: block;
    margin: 20px auto 0 auto;
    width: 100px;
    height: 100px;
}

#userInfo > h1 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #f5f5f5;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
}

#userInfo > a {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: block;
    margin: 0 auto 15px auto;
    text-align: center;
    width: 75px;
    font-size: 12px;
    line-height: 30px;
    background-color: #212121;
    color: #f5f5f5;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
}

#userInfo > a:hover {
    background-color: #f50057;
    color: #212121;
}

#userInfo > p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #eee;
    font-size: 12px;
    text-align: center;
}

#favSort {
    width: 100%;
    height: 60px;
}

#imageCard {
    position: relative;
    float: left;
    display: block;
    overflow: hidden;
    width: 420px;
    height: 420px;
    margin: 10px 5px 0 5px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

#videoCover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 420px;
    background-image: url('../image/play-circle.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    opacity: 0.8;
}

.show {
    display: block;
}

.hide {
    display: none;
}

#imageCard:hover #videoCover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.2);
}

#image {
    position: absolute;
    display: block;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 420px;
}

#imageData {
    position: relative;
    margin-top: 421px;
    display: block;
    z-index: 2;
    width: 100%;
    height: 60px;
    background-color: #fff;
    border-top: 1px solid #e0e0e0;
}

#imageCard:hover #imageData {
    margin-top: 359px;
}

#authorAvatar {
    position: absolute;
    display: block;
    width: 36px;
    height: 36px;
    top: 12px;
    left: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

#authorName {
    font-family: "Lato", sans-serif;
    position: absolute;
    top: 10px;
    left: 60px;
    font-size: 16px;
    color: #212121;
}

#attention {
    position: absolute;
    display: block;
    top: 32px;
    left: 60px;
}

#attention > p {
    font-family: "Roboto", sans-serif;
    float: left;
    line-height: 18px;
    font-size: 14px;
    color: #212121;
    margin-right: 5px;
}

.icon {
    position: relative;
    float: left;
    width: 14px;
    height: 14px;
    margin: 1px 1px 0 0;
    background-size: contain;
}

#favBtn {
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    top: 0;
    right: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    cursor: pointer;
}

.favBtnTrue {
    background-image: url('../image/faves.png');
}

.favBtnFalse {
    background-image: url('../image/faved.png');
}

#favBtn:hover {
    background-color: rgba(245,0,87,0.1);
}

#noData {
    position: relative;
    margin-top: 60px;
    display: block;
    width: 100%;
    line-height: 200px;
    font-size: 30px;
    font-family: "Lato", sans-serif;
    text-align: center;
    color: 333;
}
/***********************************************************/





/***********************************************************/
/*  ImageModal  */
/***********************************************************/
#imageMd {
    position: fixed;
    left: 50%;
    margin-left: -570px;
    top: 100px;
    background-color: #f5f5f5;
    width: 1140px;
    height: 640px;
    z-index: 100;
}

#fadeMd {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    z-index: 99;
}

#imageMd > img {
    position: absolute;
    left: 0;
    top: 0;
    height: 640px;
    width: 640px;
}

#imageMd > video {
    position: absolute;
    left: 0;
    top: 0;
    height: 640px;
    width: 640px;
}

#imageDataMd {
    position: relative;
    margin-left: 640px;
    height: 640px;
    width: 499px;
    border-left: 1px solid #e0e0e0;
}

#topBarMd {
    height: 70px;
    width: 100%;
    border-bottom: 2px solid #f50057;
}

#topBarMd > img {
    float: left;
    margin: 10px 10px 0 10px;
    display: block;
    height: 50px;
    width: 50px;
}

#topBarMd > p {
    float: left;
    line-height: 70px;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    color: #212121;
}

#topBarMd > a {
    float: right;
    line-height: 70px;
}

#closeMd {
    float: right;
    display: block;
    width: 70px;
    height: 70px;
    background-image: url('../image/close.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    opacity: 0.5;
}

#closeMd:hover {
    opacity: 1;
}

#caption {
    width: 100%;
    height: auto;
    overflow: auto;
    padding: 10px 0 10px 0;
    background-color: #fff;
}

#attentionMd {
    width: 440px;
    height: 20px;
    margin-left: 20px;
}

#attentionMd > p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    float: left;
    line-height: 18px;
    font-size: 12px;
    color: #212121;
    margin-right: 6px;
}

#caption > p {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #212121;
    width: 400px;
    margin-left: 20px;
    line-height: 20px;
}

#comments {
    width: 100%;
    height: 568px;
    overflow: auto;
}

#comment {
    position: relative;
    width: 100%;
    height: auto;
    border-top: 1px solid #fff;
    padding: 12px 0 12px 0;
    background-color: #eee;
}

#comment > img {
    position: absolute;
    top: 12px;
    left: 12px;
    display: block;
    height: 36px;
    width: 36px;
}

#comment > p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #212121;
    width: 400px;
    line-height: 20px;
    margin-left: 60px;
}